extends navbar.pug
block content
    head
        link(rel="stylesheet", href="../styles/firstlayer.css")
    div(class="card-Container")
        div(class="Card" id="card1")
            div(class="card-top-box")
                div(class="location")
                    div(class="large-font font-bold") Regensburg
                    div(class="small-font") Lat: 49.018849
                    div(class="small-font") Lon: 12.106218
                div(class="weather")
                    div(class="weather-box")
                        div(class="medium-font font-bold") Weather
                    div(class="small-font") 800
            div(class="card-bottom-box font-color")
                button(class="displayed-selector small-font font-bold" data-target="temp") Temperatur
                button(class="displayed-selector small-font font-bold" data-target="wind") Wind
                button(class="displayed-selector small-font font-bold" data-target="pressure") Luftdruck
            div(class="card-bottom-content small-font font-bold")
                div(class="card-data" data-view="temp") 20.32 Grad
                div(class="card-data" data-view="wind") 0.89 pft
                div(class="card-data" data-view="pressure") 1016 hpa
            a(class="details small-font" href="/stations/1") Details →


        div(class="Card" id="card2")
            div(class="card-top-box")
                div(class="location")
                    div(class="large-font font-bold") Kelheim
                    div(class="small-font") Lat: 48.916838
                    div(class="small-font") Lon: 11.879228
                div(class="weather")
                    div(class="weather-box")
                        div(class="medium-font font-bold") Weather
                    div(class="small-font") 600
            div(class="card-bottom-box font-color")
                button(class="displayed-selector small-font font-bold" data-target="temp") Temperatur
                button(class="displayed-selector small-font font-bold" data-target="wind") Wind
                button(class="displayed-selector small-font font-bold" data-target="pressure") Luftdruck
            div(class="card-bottom-content small-font font-bold")
                div(class="card-data" data-view="temp") 0.25 Grad
                div(class="card-data" data-view="wind") 1.02 pft
                div(class="card-data" data-view="pressure") 1002 hpa
            a(class="details small-font" href="#") Details →

        div(class="Card" id="card3")
            div(class="card-top-box")
                div(class="location")
                    div(class="large-font font-bold") München
                    div(class="small-font") Lat: 48.143797
                    div(class="small-font") Lon: 11.565856
                div(class="weather")
                    div(class="weather-box")
                        div(class="medium-font font-bold") Weather
                    div(class="small-font") 500
            div(class="card-bottom-box font-color")
                button(class="displayed-selector small-font font-bold" data-target="temp") Temperatur
                button(class="displayed-selector small-font font-bold" data-target="wind") Wind
                button(class="displayed-selector small-font font-bold" data-target="pressure") Luftdruck
            div(class="card-bottom-content small-font font-bold")
                div(class="card-data" data-view="temp") 17.67 Grad
                div(class="card-data" data-view="wind") 0.89 pft
                div(class="card-data" data-view="pressure") 1017 hpa
            a(class="details small-font" href="#") Details →

    script(src="scripts/changeDisplayedInfo.js")