extends navbar.pug
block content
    div(class="card-Container")
        div(class="Card")
            div(class="location")
                div(class="large-font font-bold") Regensburg
                div(class="small-font") Lat: 49.018849
                div(class="small-font") Lon: 12.106218
            div(class="weather")
