extends navbar.pug
block head-elements
    head
        link(rel="stylesheet", href="../styles/firstlayer.css")
block content
    div(class="fill")
        img(src="images/wavesRight.svg" id="background-waves")



