html
    head
        title Weathertop
        block head-elements
    body
        script(src="/scripts/helpers.js")
        nav
            span(class="medium-font font-bold") Weathertop
            a(href='/' class="medium-font" id="nav-logout")
                img(src="/images/icons/logout.svg")
            a(href='/Dashboard' class="medium-font" id="dashboard-link") Dashboard
            img(src="/images/navmedium.svg" id="nav-background")
            img(src="/images/navlogout.svg" id="nav-background-logout")
        block content
        script(src="/scripts/hideNav.js")
