.card-Container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin: 130px 30px 30px;
    padding: 10px;
    gap: 20px;
    row-gap: 60px;
}

.card {
    border-style: groove;
    border-color: var(--Textcolor);
    border-radius: 20px;
    width: 30%;
    height: 70vh;
    padding: 10px;
    min-height: 300px;
    min-width: 400px;
    max-width: 650px;
    box-shadow: 12px 12px 12px gray;
    opacity: 0;
    animation: card-load 2s ease-in-out forwards;
}

@keyframes card-load {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50%{ transform: translate(0)}
    100% {
        opacity: 1;
    }
}
#card1{
    background: url("../images/waves.svg"), url("../images/sunset.jpg");
    background-size: cover;
}
#card2{
    background: url("../images/waves.svg"), url("../images/snow.jpg");
    background-size: cover;
}
#card3{
    background: url("../images/waves.svg"), url("../images/rain.jpg");
    background-size: cover;
}

.card-top-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 55%;
}

.card-bottom-box,.card-bottom-content{
    display: flex;
}
.card-bottom-box{
    justify-content: space-evenly;
    flex-direction: row;
}
.card-bottom-content{
    padding: 20px 30px;
    height: 27%;
}

.weather-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.details{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;

}
.location, .weather {
    color: white;
}

.weather {
    padding-right: 10px;
    padding-top: 5px;
}

.icons {
    height: 30px;
    width: 30px;
}

.displayed-selector {
    background: unset;
    border-style: none;
    z-index: 200;
    text-underline-offset: 10px;
}
.card-data{

}
.displayed-selector:hover{
    text-decoration: solid underline var(--Textcolor) ;
}
.active{
    text-decoration: solid underline var(--Textcolor) ;
}
#wind-view,#pressure-view{
    display: none;
}