
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fill img {
    flex-shrink: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#background-waves {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    animation: move-in 3s ease-in-out forwards;
    background-image: url("../images/thunderstrom.jpg");
    background-size: cover;
}
@keyframes move-in {
    0% {width: 400%}
    100%{ width: 100%}
}

.action-container{
    display: flex;
    flex-direction: column;
    z-index: 99;
    position: fixed;
    right: 10%;
    top:15%;
    backdrop-filter: blur(20px);
    border-style: solid;
    border-color: var(--Textcolor);
    border-radius: 20px;
    width: 40%;

    opacity: 0;
    animation: load-login 1s ease-in-out forwards;
    animation-delay: 2.5s;
}
@keyframes load-login {
    0% {opacity: 0}
    100%{opacity: 100}
}
#button-container{
    display: flex;
    justify-content: space-around;
    border-top-style: solid;
}
.send-button{
    border-style: none;
    background: none;
    height: 70px;
    width: 100%;
}
.active-button{
    background-color: rgba(60, 66, 97,0.5);
}




