:root {
    /*given parameters*
     */
    --BackgroundColor: #989898;
    --Textcolor: #071524;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(0deg, rgba(255,210,144,1) 0%, rgba(175,229,244,1) 100%);
    min-height: 100vh;
}
nav {
    position: fixed;
    display: flex;
    top: 0;
    height: 50px;
    padding: 10px;
    gap: 20px;
    align-items: center;
    color: var(--Textcolor);

}

#nav-background, #nav-background-logout{
    position: fixed;
    top: 0;
    z-index: -1;
}
#nav-background{
    left: 0;
}
#nav-background-logout{
    right: 0;
}
#nav-logout{
    position: fixed;
    top: 20px;
    right: 30px;
}

a {
    color: var(--Textcolor);
    text-underline-style: none;
}
.invisible {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.input-field,.submit-button {
    background: rgba(255, 255, 255, 0.4);
    border-style: solid;
    border-width: 3px;
    border-color: var(--BackgroundColor);
    border-radius: 5px;

}

.input-field:focus {
    outline: 2px solid var(--Textcolor);
}

.font-bold {
    font-weight: 700;
}

.small-font {
    font-size: 20px;
}
.medium-font {
    font-size: 30px;

}
input{
    z-index: 1000;
}
.large-font {
    font-size: 35px;
}

.font-color {
    color: var(--Textcolor);
}