:root {
    /*given parameters*
     */
    --BackgroundColor: #989898;
    --Textcolor: #071524;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(0deg, rgba(255,210,144,1) 0%, rgba(175,229,244,1) 100%);
    min-height: 100vh;
}
nav {
    position: fixed;
    display: flex;
    top: 0;
    height: 50px;
    padding: 10px;
    gap: 20px;
    align-items: center;
    color: var(--Textcolor);
    z-index: 100;
}

#nav-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 1300px;
    height: 500px;
    z-index: 3;
}

a {
    color: var(--Textcolor);
    text-underline-style: none;
}
.font-bold {
    font-weight: 700;
}

.small-font {
    font-size: 20px;
}

.medium-font {
    font-size: 30px;

}

.large-font {
    font-size: 35px;
}

.font-color {
    color: var(--Textcolor);
}